.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.app-logo {
  height: 30px;
}

.navigation,
.navigation nav,
.navigation nav a,
.navigation button {
  display: flex;
  align-items: center;
}

.navigation nav a,
.navigation button {
  font-size: 30px;
  padding: 8px !important;
  margin: 0 10px;
  transition: all .2s ease-in;
}

.navigation nav a:hover,
.navigation button:hover {
  color: var(--button-hover);
}

.navigation button {
  background-color: transparent;
  padding: 0;
  border: none;
}