.home-page {
  padding: 30px 20px;
  font-size: 1rem;
}

.home-page h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.home-page-popular-category {
  margin-bottom: 20px;
}

.home-page-popular-category .categories button {
  padding: 10px;
  margin: 5px;
}

.create-new-thread {
  position: fixed;
  right: 3%;
  bottom: 6%;
  display: flex;
  align-items: center;
  font-size: 60px;
  border: none;
  background-color: transparent;
  color: var(--light-blue);
  transition: all .3s ease-in;
}

.create-new-thread:hover {
  transform: scale(1.1);
  color: var(--light-blue);
}