.thread-item {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--list-item);
}

.thread-body {
  margin-bottom: 20px;
}

.thread-body .category {
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.thread-body .title {
  margin: 10px 0;
}

.thread-action,
.thread-action-button,
.thread-action-button button,
.comment-action,
.comment-action-button,
.comment-action-button button {
display: flex;
align-items: center;
}

.thread-action-button button,
.comment-action-button button {
  margin-right: 5px;
  padding: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.thread-action-button,
.thread-action-date,
.comment-action-button,
.comment-action-date {
  margin-right: 20px;
}

.thread-detail {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--list-item);
  margin-bottom: 20px;
}

.thread-comment-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.thread-comment-input .comment-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
}

.thread-comment-input .input-body:focus {
  outline: none;
}

.comment-item {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: var(--list-item);
}

.comment-item p {
  margin: 10px 0;
}