.thread-item {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  font-size: 1rem;
}

.thread-body {
  margin-bottom: 20px;
  text-decoration: none;
}

.thread-body .category {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.thread-body .title {
  margin: 20px 0;
  font-weight: 400;
}

.detail-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  transition: all .2s ease-in;
}

.detail-link:hover {
  color: var(--dark-blue);
}

.thread-body .body-item {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  -webkit-line-clamp: 5;
}

.thread-action-button {
  z-index: 999;
}

.thread-action,
.thread-action-button,
.thread-action-buttons,
.thread-action-created-and-date,
.comment-action,
.comment-action-button {
  display: flex;
  align-items: center;
}

.thread-action-button .icon,
.comment-action-button .icon {
  color: var(--black);
}

.thread-action-button,
.thread-action-date,
.comment-action-button,
.comment-action-date {
  margin-right: 20px;
}

.thread-action-created-detail {
  display: flex;
  align-items: center;
}

.thread-action-created-detail img {
  width: 30px;
  border-radius: 25%;
  margin: 0 5px 0 10px;
}

.thread-detail {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 20px;
}

.thread-comment-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.thread-comment-input .input-body:focus {
  outline: none;
}

.comment-content {
  margin: 20px 0;
}

.comment-profile {
  display: flex;
  align-items: center;
}

.comment-profile img {
  width: 30px;
  margin-right: 10px;
  border-radius: 25%;
}